/* stylelint-disable font-family-name-quotes */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  height: 100%;

  @apply !font-light;
}

body {
  @apply bg-[#F6F6FB];
}

.button {
  background-color: #f6f6fb !important;
  border-color: #f6f6fb !important;
  color: #353538 !important;
  transition: all 0.35s;

  &.black {
    background-color: black !important;
    color: white !important;
    opacity: 1;

    &:hover {
      opacity: 0.75;
    }
  }

  /* stylelint-disable-next-line selector-not-notation */
  &:not(:disabled):not(.black) {
    &:hover {
      background-color: black !important;
      color: white !important;
    }
  }
}

.ant-pagination {
  & .ant-pagination-item-active {
    border-color: black !important;
  }

  & .ant-pagination-item-active a {
    color: white !important;
    font-size: 12px !important;
  }

  & .ant-pagination-next .ant-pagination-item-link,
  & .ant-pagination-prev .ant-pagination-item-link,
  & .ant-pagination-item {
    border-color: #e8e7f3 !important;
    border-radius: 4px !important;
    margin-right: 12px !important;
  }
}

.popup {
  margin-top: 2px;

  @apply relative rounded-xl bg-[#F6F6FB];

  &::before,
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #f6f6fb;

    @apply absolute left-1/2 top-[-12px] translate-x-[-50%];
  }

  &.active {
    background-color: #2d2d31;
    color: white;

    &::before {
      top: -12px;
      border-bottom: 12px solid #2d2d31;
    }

    &::after {
      top: -12px;
      border-bottom: 12px solid #2d2d31;
    }
  }
}

.open {
  animation: bounce-in 0.35s linear;
}

@keyframes bounce-in {
  0% {
    transform: translate(0, 2%);
  }

  100% {
    transform: translate(0, 0);
  }
}

.vertical-card {
  fill: #fff;
  filter: drop-shadow(0 10px 60px rgba(199, 207, 218, 50%));

  @apply w-full rounded-[30px] bg-white px-6 py-[24px] sm:w-[400px] sm:px-[36px];
}

.text {
  @apply !text-[#9494A3];
}

.custom-tooltip-chart {
  @apply px-4 py-3 text-center;
}

.custom-tooltip-chart .value {
  @apply text-[20px];
}

.custom-tooltip-chart .label {
  @apply text-[#88889C];
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  touch-action: none;
}

.ant-badge-status-text {
  @apply line-clamp-1 flex-auto;
}

.ant-select-selection-item {
  @apply flex items-center;
}

.ant-select-item-option-content {
  @apply my-1 flex items-center;
}
