@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply !font-light;
}

.button {
  filter: drop-shadow(0 3px 20px rgba(0, 0, 0, 7%));
}

.ant-pagination {
  & .ant-pagination-item-active {
    border-color: black !important;
  }

  & .ant-pagination-item-active a {
    color: white !important;
    font-size: 12px !important;
  }

  & .ant-pagination-next .ant-pagination-item-link,
  & .ant-pagination-prev .ant-pagination-item-link,
  & .ant-pagination-item {
    border-color: #e8e7f3 !important;
    border-radius: 4px !important;
    margin-right: 12px !important;
  }
}

.popup {
  margin-top: 2px;
  box-shadow: 0 3px 24px 0 #0000001a;

  @apply relative rounded-xl bg-white;

  &::before,
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #fff;

    @apply absolute left-1/2 top-[-12px] translate-x-[-50%];
  }

  &.active {
    border: 1px solid #ee4d52;

    &::before {
      top: -14px;
      border-bottom: 14px solid #ee4d52;
    }

    &::after {
      top: -13px;
      border-bottom: 14px solid #fff;
    }
  }
}

.open {
  animation: bounce-in 0.35s linear;
}

@keyframes bounce-in {
  0% {
    transform: translate(0, 2%);
  }

  100% {
    transform: translate(0, 0);
  }
}

.vertical-card {
  fill: #fff;
  filter: drop-shadow(0 10px 60px rgba(199, 207, 218, 5%));

  @apply w-[400px] rounded-[30px] bg-white px-[36px] py-[24px];
}

.text {
  @apply !text-sm !text-[#9494A3];
}
