@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply !font-light;
}

.popup {
  position: relative;
  margin-top: 2px;
}

.popup::before,
.popup::after {
  content: '';
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #fff;

  @apply absolute left-1/2 top-[-12px] translate-x-[-50%];
}

.popup.open::before {
  top: -14px;
  border-bottom: 14px solid #ee4d52;
}

.popup.open::after {
  top: -13px;
  border-bottom: 14px solid #fff;
}

.open {
  border: 1px solid #ee4d52;
  animation: bounce-in 0.35s linear;
}

.close {
  animation: bounce-out 0.35s linear;
}

@keyframes bounce-in {
  0% {
    opacity: 0.5;
    transform: translate(0, 2%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes bounce-out {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }

  100% {
    opacity: 0.5;
    transform: translate(0, 2%);
  }
}
